<th:block
        xmlns:th="http://www.thymeleaf.org">
    <h1 class="app-form-header" th:text="#{users.title}"/>
    <table class="table mt-4 mb-5 mx-auto app-table">
        <thead>
        <tr class="font-weight-bold">
            <th scope="col" th:text="#{users.table-header.index}"/>
            <th scope="col" th:text="#{users.table-header.username}"/>
            <th scope="col" th:text="#{users.table-header.email}"/>
            <th scope="col" th:text="#{users.table-header.role}"/>
            <th scope="col" th:text="#{users.table-header.actions}"/>
        </tr>
        </thead>
        <tbody>
        <th:block
                th:each="user, iStat : ${__${T(bg.softuni.marketplace.web.controllers.admin.UsersController).USERS_ATTRIBUTE_NAME}__}"
                th:object="${user}"
                th:with="canChangeRoles=*{authority} != ${T(bg.softuni.marketplace.domain.enums.Authority).ROOT} and ${#authentication.getName()} != *{username}">
            <tr>
                <td class="font-weight-bold" scope="row" th:text="${iStat.index + 1}"/>
                <td th:text="*{username}"/>
                <td th:text="*{email}"/>
                <td th:text="*{authority.name()}"/>
                <th:block th:unless="${canChangeRoles}">
                    <td/>
                </th:block>
                <th:block th:if="${canChangeRoles}">
                    <td>
                        <form class="d-inline"
                              th:if="*{authority} != ${T(bg.softuni.marketplace.domain.enums.Authority).USER}"
                              th:action="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_ADMIN_USERS}__(__${T(bg.softuni.marketplace.web.controllers.admin.UsersController).USERS_PARAM_UPDATE}__)}"
                              th:method="patch">
                            <input hidden name="username" th:value="*{username}">
                            <input hidden name="authority"
                                   th:value="${T(bg.softuni.marketplace.domain.enums.Authority).USER}">
                            <button class="btn btn-light btn-sm border-dark table-button-large"
                                    th:text="#{users.table-button.user}"
                                    th:disabled="*{!isEnabled()}"
                                    type="submit"/>
                        </form>
                        <form class="d-inline"
                              th:if="*{authority} != ${T(bg.softuni.marketplace.domain.enums.Authority).TRADER}"
                              th:action="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_ADMIN_USERS}__(__${T(bg.softuni.marketplace.web.controllers.admin.UsersController).USERS_PARAM_UPDATE}__)}"
                              th:method="patch">
                            <input hidden name="username" th:value="*{username}">
                            <input hidden name="authority"
                                   th:value="${T(bg.softuni.marketplace.domain.enums.Authority).TRADER}">
                            <button class="btn btn-light btn-sm border-dark table-button-large"
                                    th:text="#{users.table-button.trader}"
                                    th:disabled="*{!isEnabled()}"
                                    type="submit"/>
                        </form>
                        <form class="d-inline"
                              th:if="*{authority} != ${T(bg.softuni.marketplace.domain.enums.Authority).ADMIN}"
                              th:action="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_ADMIN_USERS}__(__${T(bg.softuni.marketplace.web.controllers.admin.UsersController).USERS_PARAM_UPDATE}__)}"
                              th:method="patch">
                            <input hidden name="username" th:value="*{username}">
                            <input hidden name="authority"
                                   th:value="${T(bg.softuni.marketplace.domain.enums.Authority).ADMIN}">
                            <button class="btn btn-light btn-sm border-dark table-button-large"
                                    th:text="#{users.table-button.admin}"
                                    th:disabled="*{!isEnabled()}"
                                    type="submit"/>
                        </form>
                        <form class="d-inline"
                              th:action="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_ADMIN_USERS}__(__${T(bg.softuni.marketplace.web.controllers.admin.UsersController).USERS_PARAM_ACTIVATE}__)}"
                              th:method="patch"
                              th:unless="*{isEnabled()}">
                            <input hidden name="username" th:value="*{username}">
                            <button class="btn btn-success btn-sm border-dark table-button-large"
                                    th:text="#{users.table-button.activate}"
                                    type="submit"/>
                        </form>
                        <form class="d-inline"
                              th:action="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_ADMIN_USERS}__(__${T(bg.softuni.marketplace.web.controllers.admin.UsersController).USERS_PARAM_DISABLE}__)}"
                              th:if="*{isEnabled()}"
                              th:method="patch">
                            <input hidden name="username" th:value="*{username}">
                            <button class="btn btn-warning btn-sm border-dark table-button-large"
                                    th:text="#{users.table-button.disable}"
                                    type="submit"/>
                        </form>
                        <form class="d-inline"
                              th:action="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_ADMIN_USERS}__}"
                              th:method="delete">
                            <input hidden name="username" th:value="*{username}">
                            <input hidden name="authority" th:value="*{authority}">
                            <button class="btn btn-danger btn-sm border-dark table-button-large"
                                    th:text="#{users.table-button.delete}"
                                    type="submit"/>
                        </form>
                    </td>
                </th:block>
            </tr>
        </th:block>
        </tbody>
    </table>
</th:block>
