<th:block xmlns:th="http://www.thymeleaf.org">
    <form class="app-form"
          th:action="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_USER_LOGIN}__}"
          th:method="post">

        <h1 class="app-form-header" th:text="#{user.login-form.title}"/>

        <hr class="app-hr"/>

        <div class="form-group">
            <label for="username" th:text="#{user.login-form.username}"/>
            <input class="form-control" id="username" name="username" th:classappend="${param.error}? app-border-error"
                   type="text"/>
        </div>

        <div class="form-group">
            <label for="password" th:text="#{user.login-form.password}"/>
            <input class="form-control" id="password" name="password" th:classappend="${param.error}? app-border-error"
                   type="password"/>
        </div>

        <div class="form-group">
            <input id="remember_me" name="remember-me" type="checkbox"/>
            <label class="inline" for="remember_me" th:text="#{user.login-form.remember-me}"/>
        </div>

        <th:block th:if="${param.error}">
            <div class="app-color-error" th:text="#{user.login-form.invalid-credentials}"/>
        </th:block>

        <th:block th:if="${param.expired}">
            <div class="app-color-info" th:text="#{user.login-form.session-expired}"/>
        </th:block>

        <th:block th:if="${param.logout}">
            <div class="app-color-good" th:text="#{user.login-form.logout}"/>
        </th:block>

        <th:block th:if="${param.register}">
            <div class="app-color-good" th:text="#{user.login-form.register}"/>
        </th:block>

        <hr class="app-hr"/>

        <div class="app-form-actions">
            <button class="btn app-color app-button" th:text="#{user.login-form.button}" type="submit"/>
        </div>
    </form>
</th:block>
