<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="jumbotron mt-3 app-color">
        <h1 class="mt-4" th:text="#{index.title}"/>
        <hr class="my-4"/>
        <h5 class="mb-4" th:text="#{index.subtitle}"/>
        <p>
            <a class="app-color"
               th:href="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_USER_LOGIN}__}" th:text="#{nav.login}"/>
            <span th:text="#{index.text}"/>
            <a class="app-color"
               th:href="@{__${T(bg.softuni.marketplace.config.WebConfig).URL_USER_REGISTER}__}"
               th:text="#{nav.register}"/>
        </p>
    </div>
</th:block>
