<th:block th:fragment="header"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top app-color">
        <button aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarNav"
                data-bs-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <th:block sec:authorize="isAnonymous()">
            <a class="navbar-brand nav-item-ml" th:href="@{__${@thymeleafParamsAdapter.getUrlIndex()}__}"
               th:text="#{nav.title}"/>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item nav-item-ml">
                        <a class="nav-link"
                           th:classappend="${#request.getServletPath() == @thymeleafParamsAdapter.getUrlIndex() ? 'active' : ''}"
                           th:href="@{__${@thymeleafParamsAdapter.getUrlIndex()}__}"
                           th:text="#{nav.index}"/>
                    </li>
                    <li class="nav-item nav-item-ml">
                        <a class="nav-link"
                           th:classappend="${#request.getServletPath() == @thymeleafParamsAdapter.getUrlUserRegister() ? 'active' : ''}"
                           th:href="@{__${@thymeleafParamsAdapter.getUrlUserRegister()}__}"
                           th:text="#{nav.register}"/>
                    </li>
                    <li class="nav-item nav-item-ml">
                        <a class="nav-link"
                           th:classappend="${#request.getServletPath() == @thymeleafParamsAdapter.getUrlUserLogin() ? 'active' : ''}"
                           th:href="@{__${@thymeleafParamsAdapter.getUrlUserLogin()}__}"
                           th:text="#{nav.login}"/>
                    </li>
                </ul>
            </div>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a class="navbar-brand nav-item-ml"
               th:href="@{__${@thymeleafParamsAdapter.getUrlUserHome()}__}"
               th:text="#{nav.title}"/>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item nav-item-ml">
                        <a class="nav-link"
                           th:classappend="${#request.getServletPath() == @thymeleafParamsAdapter.getUrlUserHome() ? 'active' : ''}"
                           th:href="@{__${@thymeleafParamsAdapter.getUrlUserHome()}__}"
                           th:text="#{nav.home}"/>
                    </li>
                    <li class="nav-item dropdown nav-item-ml nav-item-mr"
                        sec:authorize="hasRole(T(bg.softuni.marketplace.domain.enums.Authority).ADMIN)">
                        <a aria-expanded="false"
                           aria-haspopup="true"
                           class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           th:classappend="${#request.getServletPath().startsWith(@thymeleafParamsAdapter.getUrlAdminBase()) ? 'active' : ''}"
                           th:text="#{nav.admin}"/>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   th:classappend="${#request.getServletPath() == @thymeleafParamsAdapter.getUrlAdminUsers() ? 'active' : ''}"
                                   th:href="@{__${@thymeleafParamsAdapter.getUrlAdminUsers()}__}"
                                   th:text="#{nav.users}"/></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-ml">
                        <a class="nav-link"
                           th:classappend="${#request.getServletPath().contains(@thymeleafParamsAdapter.getUrlUserProfile()) ? 'active' : ''}"
                           th:href="@{__${@thymeleafParamsAdapter.getUrlUserProfile()}__/__${#authentication.principal.id}__}"
                           th:text="#{nav.profile}"/>
                    </li>
                    <li class="nav-item nav-item-ml">
                        <form th:action="@{__${@thymeleafParamsAdapter.getUrlUserLogout()}__}"
                              th:method="post">
                            <button class="logout-button nav-link"
                                    th:text="#{nav.logout}"
                                    type="submit"/>
                        </form>
                    </li>
                </ul>
            </div>
        </th:block>
    </nav>
</th:block>
