.app-color {
    background-color: #1e3b90;
    color: white;
}

.app-color-info {
    color: #1e3b90;
}

.app-color-good {
    color: #0e902e;
}

.app-color-error {
    color: #900C45;
}

.app-border-error {
    border-color: #900C45;
}

div.form-group label {
    margin-top: 0.7rem;
}

.no-resize {
    resize: none;
}

.disabled {
    color: gray;
}

.radio label {
    margin-bottom: 0;
}

.table-button {
    width: 4rem;
}

.table-button-large {
    width: 6rem;
}

.display-none {
    display: none;
}

.logout-button {
    background: transparent;
    border: none;
    padding: 8px 0;
}

.logout-button:focus {
    outline: none;
}

.app-button {
    color: rgba(255, 255, 255, .5);
}

.app-button:hover {
    color: white;
}

.app-form {
    margin: 3rem auto 2rem;
    min-width: 200px;
    max-width: 600px;
}

.app-form-header {
    margin: 1rem auto;
    text-align: center;
}

.app-form-actions {
    margin: 2rem auto 0;
    text-align: center;
}

.app-main-mt {
    margin-top: 6rem
}

a.app-color:hover {
    color: white;
}

.app-table {
    width: auto;
}
